h3 {
  cursor: pointer;
  user-select: none;
  padding: .5rem;
  background-color: #f2f2f2;
  margin: 0;
}

h3:hover {
  background-color: #e0e0e0;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}

li {
  line-height: 1.5;
}